.posts{
    width:96%;
    margin-top: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    background-color: #fff;
}
.post__top{
    display: flex;
    padding: 15px;
    position: relative;
    align-items: center;
}
.post__topInfo>p{
    font-size:small;
    color: gray !important;
}
.post__bottom>p{
    margin-bottom:1px;
}
.post__bottom{
    margin: 10px 0px;
    padding: 5px 14px;
    height:auto;
}
.post__image>img{
    width: 100%;
    max-height: 300px;
    height: auto;
}
.post__options{
    padding: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color:gray;
    cursor: pointer;
    padding:15px;
}
.post__option{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}
.post__option>p{
    margin-left: 10px;
}
.post__option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
}